.App {
  width: 1440px;
  display: grid;
  font-family: 'Roboto', sans-serif;
}
/* =======SOCIAL MEDIA======== */
.socialMedia {
  display: flex;
  justify-content: flex-end;
  background: black;
}
.header {
  background-color: white;
  width: 100%;
  position: fixed;
}
.change {
  margin-top: 100px;
}
.icons {
  display: flex;
  align-items: center;
  margin-right: 240px;
  height: 15px;
}
.icon {
  padding: 0 8px;
  height: 25px;
}

/* =======HEADER======== */
.App-header {
  background-color: white;
  width: 100%;
  position: fixed;
  margin-top: 45px;
}
.logo{
  width: 250px;
  margin-left: 120px;
  padding: 10px;
}
.navbar {
  float: right;
  color: black;
  margin: 30px 130px 0 0;
  letter-spacing: 1.1px;
  font-size: 16px;
}
.navbar ul {
  display: inline;
}
.navbar ul li {
  display: inline;
  margin: 10px;
}
.getInvolved {
  padding: 10px;
  background: white;
  font-size: 16px;
}

/* =======HOMEPAGE======== */
#hero {
  background-size: cover;
  width: 100%;
  color: white;
  background-size: 100% 100%; 
  height: 630px;
  background-size: auto 630px;
  background-position: top 0px left 50%;
  background-repeat: no-repeat;
}

.welcome{
  width: 30%;
  font-size: x-large;
  margin: 240px 210px;
}
.welcome h1{
  color: #d9a63b;
}
 .welcome p {
  font-size: 19px;
  width: 361px;
  line-height: 32px;
 }

 hr {
  width: 150px;
  border: #d9a63b 1px double;
}